@page
@using API_BubbleSort.Data;
@using System.Globalization;
@model IndexModel

<div class="text-center">
    <h3 class="display-4">Employees</h3>

    <p>
        <a href="~/Index" class="btn btn-md btn-primary">Default Order</a>
        <a href="~/Index?sort=name" class="btn btn-md btn-primary">Bubble Sort by Name</a>
        <a href="~/Index?sort=salary" class="btn btn-md btn-primary">Bubble Sort by Salary</a>
    </p>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th> ID </th>
                <th> Name </th>
                <th> Salary </th>
                <th> Age </th>
            </tr>

            @foreach(var emp in (IEnumerable<Employee>)ViewData["listOfEmployees"])
            {
                <tr>
                    <td> @emp.Id </td>
                    <td> @emp.Name </td>
                    <td> @emp.Salary.ToString("C0", CultureInfo.CreateSpecificCulture("en-US")) </td>
                    <td> @emp.Age </td>
                </tr>
            }
        </table>
    </div>
</div>